.entity-editor-view {
  .connection {
    stroke: #999;
  }

  .connection-wrap {
    stroke-linecap: butt;
    transition: all 0.5s linear 0.2s;
    &:hover {
      stroke: black;
      stroke-width: 9px;
      transition: all 0s;
    }
  }

  .element {
    text {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      text-transform: capitalize;
    }
    // Component
    &.Atomic {
      .entity-heading-rect, .entity-body-rect {
        fill: #ccc;
        fill-opacity: 0.8;
        stroke: #999;
        overflow:hidden;
      }
    }
    // Entity
    &.Coupled {
      .entity-heading-rect, .entity-body-rect {
        fill: rgba(100, 255, 100, 0.51);
        stroke:rgba(100, 255, 100, 1);
        overflow:hidden;
      }
    }
  }

}