.markdown-editor-view {
  // Force child text editor view to fill our rect
  > .text-editor-view {
    width:100%;
    height:100%;
  }

  > .rendered {
    font-family: @font-family-scp;
    overflow-y:auto;
    height:100%;
    font-size: 1.3em;
    color:#fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    padding:15px 30px;

    a {
      color:@powBlue;
    }

    h1,h2,h3,h4,h5,h6 {
      color:@contrastFontColorA;
      .extrude-stroke-text(1px);
    }
  }
}