<nav class="layer-list">

    <div class="toolbar btn-group btn-group-justified">
        <a class="btn btn-default" ng-click="app.editor.newLayer()"><i class="fa fa-plus"></i> Layer</a>
        <a class="btn btn-default" ng-click="app.editor.newObjectGroup()"><i class="fa fa-plus"></i> Object</a>
        <a class="btn btn-default" ng-click="app.editor.removeActiveLayer()"><i class="fa fa-trash"></i> Remove</a>
    </div>

    <ul class="layers">
        <li ng-repeat="layer in app.editor.tileMap.layers track by $index"
            ng-click="app.editor.setActiveLayer($index)"
            ng-class="{objects:!layer.tiles,visible:layer.visible,active:app.editor.activeLayerIndex==$index}">
            <a>
                <i ng-click="app.editor.setLayerVisibility($index);$event.stopPropagation();"></i>
                <inline-edit value="layer.name"></inline-edit>
            </a>
        </li>
    </ul>
</nav>