
<div class="tile-editor-view">
    <nav class="toolbox btn-group-vertical" role="toolbox">
        <a class="btn btn-default"
           ng-repeat="tool in tileController.ed.toolbox.getTools()"
           ng-class="{active:tileController.ed.getActiveTool().name==tool.name}"
           ng-click="tileController.setTool(tool.name); $event.stopPropagation();">
            <i class="fa {{tool.iconClass}}"></i>
        </a>
    </nav>
    <canvas class="canvas"></canvas>
    <section class="tile-sets">
        <tile-set-tile-picker
                ng-repeat="set in tileController.tileMap.tileSets"
                url="{{set.url}}"
                on-pick="tileController.setPaintTile(set,tilePoint)"
                tile-height="{{set.tileSize.y}}"
                tile-width="{{set.tileSize.x}}"></tile-set-tile-picker>
    </section>
</div>
