<div class="tile-editor-view">
    <ul class="layer-list" ng-hide="loading.visible" ng-dblclick="editor.hideEmptyLayers = !editor.hideEmptyLayers">
        <li ng-repeat="layer in editor.layers track by $index"
            ng-click="editor.toggleLayerVisibility(layer)"
            ng-class="{visible:layer.objects.visible,empty:layer.objects.children.length==0,force:editor.hideEmptyLayers}">
            <a><i></i><span>{{layer.name}}</span></a>
        </li>
    </ul>

    <nav class="navbar navbar-inverse" role="navigation">
        <ul>
            <li><a href="javascript:void(0);" ng-click="editor.setTool('move')"><i class="fa fa-arrows"></i></a></li>
            <li><a href="javascript:void(0);" ng-click="editor.setTool('paint')"><i class="fa fa-pencil"></i></a></li>
            <li><a href="javascript:void(0);" ng-click="editor.setTool('erase')"><i class="fa fa-eraser"></i></a></li>
            <li><a href="javascript:void(0);" class="disabled"><i class="fa fa-magic"></i></a></li>
        </ul>
    </nav>
</div>