
<div class="tile-editor-view">
    <nav class="toolbox" role="toolbox">
        <ul>
            <li ng-class="{active:editor.activeTool=='move'}" ng-click="editor.setTool('move'); $event.stopPropagation();"><i class="fa fa-arrows"></i></li>
            <li ng-class="{active:editor.activeTool=='paint'}" ng-click="editor.setTool('paint'); $event.stopPropagation();"><i class="fa fa-paint-brush"></i></li>
            <li ng-class="{active:editor.activeTool=='erase'}" ng-click="editor.setTool('erase'); $event.stopPropagation();"><i class="fa fa-eraser"></i></li>
        </ul>
    </nav>
    <canvas class="canvas"></canvas>
    <section class="tile-sets" ng-if="editor.activeTool=='paint'">
        <tile-set-tile-picker
                ng-repeat="set in editor.tileMap.tileSets"
                url="{{set.url}}"
                on-pick="editor.setPaintTile(set,tilePoint)"
                tile-height="{{set.tileSize.y}}"
                tile-width="{{set.tileSize.x}}"></tile-set-tile-picker>
    </section>
</div>
