<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>pow-edit</title>
    <link rel="stylesheet" href="./build/pow-edit.css">
</head>
<body ng-controller="AppController as app">

<main class="pow-edit-container" ng-class="{'open-left':showMenu==true,'open-right':showRightMenu==true,'open':showMenu||showRightMenu}">
    <div class="left-menu-trigger" ng-click="showMenu=!showMenu" ng-show="!showMenu"><i class="fa fa-folder"></i></div>
    <div class="left-menu">
        <treecontrol tree-model="mount" node-children="children" on-selection="app.selectFile(node)">{{node.label}}</treecontrol>
    </div>
    <aside class="pow-edit-pusher" ng-click="showMenu=false;showRightMenu=false;">
        <document-view class="pow-edit-content" type="app.getDocumentType()" source="app.document"></document-view>
    </aside>
    <div class="right-menu-trigger ng-hide" ng-click="showRightMenu=!showRightMenu" ng-show="app.editor"><i class="fa fa-list-alt"></i></div>
    <div class="right-menu" ng-include="app.editorMenu"></div>
</main>

<script type="text/javascript">
    /* Based on: http://jeremyhixon.com/snippet/loading-javascript-files-asynchronously/ */
    function loadScripts(urls,success){
        var toLoad = urls.slice(0);
        function _next(){
            if(toLoad.length === 0){
                return success && success();
            }
            var url = toLoad.shift();
            var script = document.createElement('script');
            script.src = url;
            script.async = !0;
            var head = document.getElementsByTagName('head')[0];
            script.onload = script.onreadystatechange = script.onerror = function(d){
                if (!script.readyState || script.readyState == 'loaded' || script.readyState == 'complete') {
                    script.onerror = script.onload = script.onreadystatechange = null;
                    head.removeChild(script);
                    _next();
                }
            };
            head.appendChild(script);
        }
        _next();
    }
    window.onload = function() {
        var platform = (typeof require !== 'undefined') ? './build/pow-edit.nw.js' : './build/pow-edit.browser.js';
        loadScripts([
            "./bower_components/underscore/underscore.js",
            "./bower_components/pow-core/lib/pow-core.min.js",
            "./bower_components/jquery/dist/jquery.js",
            "./vendor/ace/src-min-noconflict/ace.js",
            "./bower_components/showdown/compressed/showdown.js",
            "./bower_components/pixi/bin/pixi.dev.js",
            "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js",
            platform,
            "./build/pow-edit.js",
            "./build/pow-edit.ui.js"
        ],function(){
            angular.bootstrap(document, ["pow-edit"]);
        });
    };
</script>
</body>
</html>
