
treecontrol {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  color: #222;
  text-decoration: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    li {
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      line-height:1em;
      font-size: 1em;
      font-family:@font-family-scp;
      a.item {
        display: inline-block;
        width:100% !important;
        height:1em;
        padding: 4px 0px 4px 20px;
      }

      &.selected {
        background-color: #aaddff;
        font-weight: bold;
      }
    }

  }

}






