
treecontrol {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  color: #222;
  text-decoration: none;
  font-size: 12px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
  }

  li {
    position: relative;
    padding: 4px 0px 4px 20px;
    line-height: 1em;
    white-space: nowrap;
  }
  li.tree-expanded i.tree-normal,
  li.tree-collapsed i.tree-normal {
    display: none;
  }
  li.tree-expanded i.tree-has-children,
  li.tree-collapsed i.tree-has-children {
    display: inline;
  }
  li.tree-normal i.tree-has-children {
    display: none;
  }
  li.tree-normal i.tree-normal {
    display: inline;
  }
  li i {
    cursor: pointer;
  }
  li .tree-label {
    cursor: pointer;
    display: inline;
  }
  li.tree-expanded i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/folder.png") no-repeat;
  }


  li.tree-collapsed i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/folder-closed.png") no-repeat;
  }

  li.tree-normal i {
    padding: 1px 10px;
    background: url("https://raw.github.com/wix/angular.treecontrol/master/images/file.png") no-repeat;
  }

  li .tree-selected {
    background-color: #aaddff;
    font-weight: bold;
  }
}






