@maxDepth:15;
@paddingIncrement:15px;

treecontrol {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  color: #222;
  text-decoration: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    li {
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      line-height:1em;
      font-family:@font-family-serif;
      color:#666;

      // Generate depth padding for up to @maxDepth levels.
      .depthPadding (@depth) when (@depth < @maxDepth) {
        &.depth-@{depth}{
          a.item{
            padding-left:@paddingIncrement * (@depth + 1);
          }
        }
        .depthPadding(@depth + 1);
      }
      .depthPadding(0);


      a.item {
        display: inline-block;
        width:100% !important;
        cursor: pointer;
        padding: 7px 0px 7px 20px;
        font-size:14px;
        i {
          width:12px;
          text-align:center;
          font-size: 1em;
          margin-right: 5px;
        }
      }

      &.selected {
        background-color: #aaddff;
        font-weight: bold;
        > a.item {
          color:#fff;
          font-weight: bold;
          background-color: rgba(0, 116, 139, 0.62);
        }
      }
      &.tmx {
        font-weight: bold;
      }
      &.branch {}
      > a.item:hover {
        background-color: rgba(0, 116, 139, 0.82);
        color:#fff;
      }
    }
  }
}
