<div class="document-view" ng-switch="app.getDocumentType()">
    <div class="notify" ng-if="loading.visible">
        <div class="fill" ng-style="loading.barStyle"></div>
        <div class="message">
            <h1 class="status">{{loading.title}}</h1>
            <p class="subtext">{{loading.details}}</p>
        </div>
    </div>
    <tile-editor-view
            ng-switch-when="tiled"
            url="app.document.url">
    </tile-editor-view>
    <markdown-editor-view
            ng-switch-when="markdown"
            url="app.document.url">
    </markdown-editor-view>
    <image-editor-view
            ng-switch-when="image"
            class="image-view">
        <img ng-src="../{{app.document.url}}"/>
    </image-editor-view>
    <text-editor-view
            ng-switch-default
            ng-model="app.document.data"
            history="history">
    </text-editor-view>
</div>
