@font-family-serif:"Helvetica Neue",Helvetica,Arial,sans-serif;
@font-family-scp:'SourceCodePro-Regular', 'Monaco', courier, monospace !important;

@import "directives/fileTree";
@import "directives/splitter";
@import "directives/editorView";

body, html {
  min-height:100%;
  height:100%;
  margin:0;
  font-family:@font-family-serif;

}

.ace-container {
  height: 100%;
  width:100%;
  font-family: @font-family-scp;
  font-size: 18px;
}
treecontrol {
  font-family: @font-family-scp;
  height: 100%;
  width:20%;
}



/* Source Code Pro Font */
@font-face {
  font-family : "SourceCodePro-Black";
  src:url("../assets/fonts/scp/SourceCodePro-Black.eot");
  src:url("../assets/fonts/scp/SourceCodePro-Black.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-Black.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-Black.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-Black.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "SourceCodePro-Bold";
  src:url("../assets/fonts/scp/SourceCodePro-Bold.eot");
  src:url("../assets/fonts/scp/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-Bold.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-Bold.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-Bold.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "SourceCodePro-Semibold";
  src:url("../assets/fonts/scp/SourceCodePro-Semibold.eot");
  src:url("../assets/fonts/scp/SourceCodePro-Semibold.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-Semibold.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-Semibold.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-Semibold.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "SourceCodePro-Medium";
  src:url("../assets/fonts/scp/SourceCodePro-Medium.eot");
  src:url("../assets/fonts/scp/SourceCodePro-Medium.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-Medium.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-Medium.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-Medium.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "SourceCodePro-Regular";
  src:url("../assets/fonts/scp/SourceCodePro-Regular.eot");
  src:url("../assets/fonts/scp/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-Regular.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-Regular.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-Regular.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "SourceCodePro-Light";
  src:url("../assets/fonts/scp/SourceCodePro-Light.eot");
  src:url("../assets/fonts/scp/SourceCodePro-Light.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-Light.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-Light.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-Light.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family : "SourceCodePro-ExtraLight";
  src:url("../assets/fonts/scp/SourceCodePro-ExtraLight.eot");
  src:url("../assets/fonts/scp/SourceCodePro-ExtraLight.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/scp/SourceCodePro-ExtraLight.otf.woff") format("woff"),
  url("../assets/fonts/scp/SourceCodePro-ExtraLight.ttf.woff") format("truetype"),
  url("../assets/fonts/scp/SourceCodePro-ExtraLight.svg#pow2") format("svg");
  font-weight: normal;
  font-style: normal;
}
